{% extends 'student_module/indexlog.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE | Inicio</title>
</head>
<body>
    <div class="titulo-logout">
        Cuestionario de pre-egreso
    </div>
    <br>
    <div >
        <p text-align="justify">Tu información ha sido guardada con éxito. Recuerda generar y descargar tu constancia de finalización de ficha de pre-egreso.
            <br><br>
            Para descargar la constancia, da clic en el botón de descarga.
        </p>
        <br>
        <div class="subtitulo-principal">
            <a href="{% url 'student_module:generate_pdf'%}">
                <button class="btn submit-button btn-block">
                    Descargar constancia
                </button>
            </a>
        </div>
    </div>
</body>
</html>
{% endblock %}