{% extends 'student_module/indexlog.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE | Inicio</title>
</head>
<body>
   
    <div class="titulo-logout">
        Bienvenido(a), {{ name }}
    </div>
    <br>
    <div id="start_pre_form" style="display: {{start}};">
        <p text-align="justify">Bienvenido al Sistema de Seguimiento de Egresados de la Facultad de Estadística e Informática (FEI).
            Como requisito previo a tu egreso, se te solicita llenar la ficha de pre-egreso que se presenta a 
            continuación.
            <br><br>
            Los datos que ingreses en el sistema serán utilizados exclusivamente para cumplir con los objetivos 
            y obligaciones de la Universidad Veracruzana, principalmente conformar un directorio institucional de Egresados UV, 
            con el fin de mantener contacto, gestionar su perfil en la bolsa de trabajo institucional, 
            así como aplicar evaluaciones para mejorar la calidad del servicio educativo.
            <br><br>
            Para iniciar, da clic en el botón “Iniciar cuestionario”.
        </p>
        <br>
        <div class="subtitulo-principal">
            <a href="{% url 'student_module:student_info'%}">
                <button class="btn submit-button btn-block">
                    Iniciar cuestionario
                </button>
            </a>
        </div>
    </div>

</body>

</html>
{% endblock %}