{% extends 'student_module/indexlog.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE | Inicio</title>
</head>
<body>
    <div class="titulo-logout">
        Bienvenido(a), {{ name }}
    </div>
    <br>
    <div >
        <p text-align="justify">Como requisito para tu egreso de la licenciatura, te solicitamos responder la ficha de
            pre-egreso, la cual consta de
        </p>
        <div class="center" style="margin-left: 30%;">
            <button class="col-6 btn submit-button btn-block" type="submit" >
                Iniciar el cuestionario
            </button>
        </div>
    </div>
</body>
</html>
{% endblock %}