{% extends 'student_module/index.html' %}

{% block content %}
  <div style="margin-left: 25%; margin-right: 25%; margin-top: 5%;">
    <h2>Recuperación de coontraseña</h2>
    <br>
    <p>Mandaremos un enlace a tu correo electrónico para que continues el procedimiento para cambiar tu contraseña</p>
    {% if form.errors %}
      <p class="alert alert-danger">Please correct the errors below.</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Mandar correo</button>
    </form>
  </div>
{% endblock %}