{% load i18n %}{% autoescape off %}
{% block subject %}
{% trans "Password reset" %}
{% endblock %}

{% block text_body %}
{% trans "You're receiving this email because you requested a password reset for your user account at %(site_name)s." %}
{% trans "Please go to the following page and choose a new password:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% endblock %}

{% block html_body %}
<p>{% trans "You're receiving this email because you requested a password reset for your user account at" %} {{ site_name }}.</p>
<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% trans "Reset my password" %}</a></p>
<p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>
<p>{% trans "Thanks for using our site!" %}</p>
{% endblock %}
{% endautoescape %}
