{% load i18n %}{% autoescape off %}
{% block subject %}
{% trans "Cambio de contraseña" %}
{% endblock %}

{% block text_body %}
{% trans "Has recibido este correo ya que solicitaste un cambio de contraseña en el Sistema de Seguimiento de Egresados, si no fue así por favor ignora el correo" %}
{% trans "Por favor dale clic al siguiente enlace para continuar el proceso de cambio de contraseña:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}



{% endblock %}

{% block html_body %}
<p>{% trans Has recibido este correo ya que solicitaste un cambio de contraseña en el Sistema de Seguimiento de Egresados, si no fue así por favor ignora el correo"}.</p>
<p>{% trans "Por favor dale clic al siguiente enlace para continuar el proceso de cambio de contraseña:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% trans "Cambiar mi contraseña" %}</a></p>

{% endblock %}
{% endautoescape %}
