{% extends 'student_module/nav_bar_principal.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row-2 subtitulo-principal">
        <div class="col-6 my-5 pad-content">
            <div class="subtitulo-pag">
                Registro de alumno
            </div>
            <br>
                <form method="POST" action="{% url 'student_module:signup'%}">
                    <div class="form-group row">
                        <div class="col">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                            <button class="btn btn-outline-info" type="submit", name="guardar">Completar registro</button>
                            <a href="{% url 'student_module:login'%}" class="btn btn-secondary">  Regresar </a>
                            <div class="aviso">
                                <br>
                                Al momento de registrarte en el sistema estás aceptando el <a href="{% url 'student_module:privacy_notice'%}" target="_blank"> aviso de privacidad</a>
                            </div>
                            {% endbuttons %}
                    </div>
            </form>
    </div>
{% endblock %}