{% extends 'student_module/indexlog.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="titulo-pag">
        Empleo durante estudios
    </div>
    <br>
    <div style="text-align: justify;">
        Con el fin de conocer su trayectoria ocupacional, le solicitamos nos proporcione la siguiente información
        atendiendo a tres criterios:
        <br>
        <ol>
            <li>Que la información sea sobre el empleo que tuvo durante el último año de estudios de la licenciatura.
            </li>
            <li>Que haya sido un trabajo con una duración mínima de tres meses.</li>
            <li>Si tuvo dos o más trabajos simultáneamente, que la información sea sobre el trabajo principal,
                entendiendo por principal
                aquel al cual le dedicó la mayor parte de su tiempo (No se consideran prácticas de servicio social,
                aunque hayan sido remuneradas).
            </li>
        </ol>
        En caso de no cumplir con las condiciones mencionadas, favor responder "No" a la primera pregunta y pase a la
        siguiente sección.
    </div>
    <br>
    <form id="job_during_school-form" method="POST" action="{% url 'student_module:job_during_school' %}">
        <div class="form-group row">
            <div class="col">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <a href="{% url 'student_module:student_info' %}" class="btn btn-secondary"> Regresar </a>
                    <button type="button" class="btn btn-outline-primary" name="guardar" data-toggle="modal" data-target="#confirmModal">
                        Enviar
                    </button>
                {% endbuttons %}
            </div>
        </div>
    </form>
    {% include 'seguimiento_egresados/modal_confirm.html' with modal_form_id="job_during_school-form" modal_title="Confirmar guardado de cambios" modal_body="Estás a punto de guardar los cambios. Una vez guardados, no podrán modificarse. ¿Deseas continuar?" modal_confirm_button_text="Guardar cambios" %}
{% endblock %}