{% extends 'student_module/indexlog.html' %}

{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}
<script src="{% static 'js/municipios.js' %}"></script>
<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Lista de estudiantes</title>
</head>


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="titulo-pag">
            Cuestionario de pre-egreso
        </div>
          
        <br>
        <form method="POST" action="{% url 'student_module:student_info'%}">
            <div class="form-group ">
                <div class="col form-horizontal">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Información personal</legend>
              
                        <div class="form-group ">
                            <label >{{ form.nombre.label_tag }}</label>
                            <div >
                                {{ form.nombre }}
                            </div>
                        </div>
                        {% if form.nombre.errors %}
                            <div class="errorlist">
                                {% for error in form.nombre.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group ">
                            <label >{{ form.apellido_paterno.label_tag }}</label>
                            <div >
                                {{ form.apellido_paterno }}
                            </div>
                        </div>
                        {% if form.apellido_paterno.errors %}
                        <div class="errorlist">
                            {% for error in form.apellido_paterno.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label >{{ form.apellido_materno.label_tag }}</label>
                            <div >
                                {{ form.apellido_materno }}
                            </div>
                        </div>
                        {% if form.apellido_materno.errors %}
                        <div class="errorlist">
                            {% for error in form.apellido_materno.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label for="{{form.sexo.id_for_label}}" class=" control-label"> {{form.sexo.label_tag}}</label>
                            <div >
                              {% render_field form.sexo class="form-control" %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >{{ form.fecha_nacimiento.label_tag }}</label>
                            <div >
                                {{ form.fecha_nacimiento }}
                            </div>
                        </div>
                        {% if form.fecha_nacimiento.errors %}
                        <div class="errorlist">
                            {% for error in form.fecha_nacimiento.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label >{{ form.fecha_ingreso_lic.label_tag }}</label>
                            <div >
                                {{ form.fecha_ingreso_lic }}
                            </div>
                        </div>
                        {% if form.fecha_ingreso_lic.errors %}
                        <div class="errorlist">
                            {% for error in form.fecha_ingreso_lic.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label >{{ form.correo.label_tag }}</label>
                            <div >
                                {{ form.correo }}
                            </div>
                        </div>
                        {% if form.correo.errors %}
                        <div class="errorlist">
                            {% for error in form.correo.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label >{{ form.correo_uv.label_tag }}</label>
                            <div >
                                {{ form.correo_uv }}
                            </div>
                        </div>
                        {% if form.correo_uv.errors %}
                        <div class="errorlist">
                            {% for error in form.correo_uv.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label >{{ form.celular.label_tag }}</label>
                            <div >
                                {{ form.celular }}
                            </div>
                        </div>
                        {% if form.celular.errors %}
                        <div class="errorlist">
                            {% for error in form.celular.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label >{{ form.telefono.label_tag }}</label>
                            <div >
                                {{ form.telefono }}
                            </div>
                        </div>
                        {% if form.telefono.errors %}
                        <div class="errorlist">
                            {% for error in form.telefono.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <div class="form-group ">
                            <label >{{ form.twitter.label_tag }}</label>
                            <div >
                                {{ form.twitter }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >{{ form.facebook.label_tag }}</label>
                            <div >
                                {{ form.facebook }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >{{ form.linkedin.label_tag }}</label>
                            <div >
                                {{ form.linkedin }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Lugar de residencia</legend>
                        <div class="form-group ">
                            <label >
                                {{ form.calle.label_tag }}
                            </label>
                            <div >
                                {{ form.calle }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >
                                {{ form.colonia.label_tag }}
                            </label>
                            <div >
                                {{ form.colonia }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >
                                {{ form.numero_exterior.label_tag }}
                            </label>
                            <div >
                                {{ form.numero_exterior }}
                            </div>
                        </div>

                        <div class="form-group ">
                            <label >
                                {{ form.numero_interior.label_tag }}
                            </label>
                            <div >
                                {{ form.numero_interior }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >
                                {{ form.codigo_postal.label_tag }}
                            </label>
                            <div >
                                {{ form.codigo_postal }}
                            </div>
                        </div>
                        {% if form.codigo_postal.errors %}
                        <div class="errorlist">
                            {% for error in form.codigo_postal.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        
                        <div class="form-group ">
                            <label >
                                {{ form.estado.label_tag }}
                            </label>
                            <div>
                                <select class="selectpicker form-control" aria-label=".form-select-lg example" id="estado" name="estado">
                                    <option value="">Selecciona un estado</option>
                                    {% for estado in estados %}
                                        <option value="{{ estado.id }}">{{ estado.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label>
                                {{ form.municipio.label_tag }}
                            </label>
                            <div >
                                <select  class="selectpicker form-control" aria-label=".form-select-lg example" id="municipio" name="municipio">
                                    <option value="">Selecciona un municipio</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >
                                {{ form.localidad.label_tag }}
                            </label>
                            <div >
                                {{ form.localidad }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Referencias Personales</legend>
                        <p> <b>Referencia principal (obligatorio)</b></p>

                        <div class="form-group ">
                            <label >
                                {{ form.nombre_ref_principal.label_tag }}
                            </label>
                            <div >
                                {{ form.nombre_ref_principal }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >
                                {{ form.celular_ref_principal.label_tag }}
                            </label>
                            <div >
                                {{ form.celular_ref_principal }}
                            </div>
                        </div>
                        {% if form.celular_ref_principal.errors %}
                        <div class="errorlist">
                            {% for error in form.celular_ref_principal.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                        <p> <b>Referencia auxiliar (opcional)</b></p>
                        <div class="form-group ">
                            <label >
                                {{ form.nombre_ref_auxiliar.label_tag }}
                            </label>
                            <div >
                                {{ form.nombre_ref_auxiliar }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label >
                                {{ form.celular_ref_auxiliar.label_tag }}
                            </label>
                            <div >
                                {{ form.celular_ref_auxiliar }}
                            </div>
                        </div>
                        {% if form.celular_ref_auxiliar.errors %}
                        <div class="errorlist">
                            {% for error in form.celular_ref_auxiliar.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                         {% endif %}
                    </fieldset>
                    {% buttons %}
                    <button class="btn btn-outline-info" type="submit" name="guardar">Siguiente</button>
                    {% endbuttons %}
                </div>
            </div>
        </form>
        </form>
        {% block scripts %}
        {{ block.super }}
        {{ form.media }}
        {% endblock %}
        {% block extra_css %}
        {{ block.super }}
        {{ form.media.css }}
        {% endblock %}
        
        {% block extra_js %}
        {{ block.super }}
        {{ form.media.js }}
        {% endblock %}
    {% endblock %}
