{% extends "admin_module/indexlog.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="subtitulo-pag">
            <div class="col-7">
                {{ student.apellido_paterno }} {{ student.apellido_materno }} {{ student.nombre }}
            </div>
            <div class="col-5">
                {{student.matricula}}
            </div>
        </div>
    </div>
    <div class="card-body">
        <span class="card-title" style="font-size:19px"><b>Información personal</b></span>
        <br>
        {% if student.licenciatura_fei %}
        <p><b>Licenciatura: </b>{{ student.licenciatura_fei }}</p>
      {% endif %}
      
      {% if student.correo %}
        <p><b>Correo personal: </b>{{ student.correo }}</p>
      {% endif %}
      
      {% if student.correo_uv %}
        <p><b>Correo institucional: </b>{{ student.correo_uv }}</p>
      {% endif %}
      
      {% if student.celular %}
        <p><b>Celular: </b>{{ student.celular }}</p>
      {% endif %}
      
      {% if student.telefono %}
        <p><b>Telefono: </b>{{ student.telefono }}</p>
      {% endif %}
      
      {% if student.twitter or student.facebook or student.linkedin %}
        <p><b>Redes sociales: </b></p>
        <ul>
          {% if student.twitter %}
            <li>Twitter: {{ student.twitter }}</li>
          {% endif %}
          {% if student.facebook %}
            <li>Facebook: {{ student.facebook }}</li>
          {% endif %}
          {% if student.linkedin %}
            <li>LinkedIn: {{ student.linkedin }}</li>
          {% endif %}
        </ul>
      {% endif %}
      
      {% if student.calle or student.numero_exterior or student.numero_interior or student.colonia or student.codigo_postal %}
        <span class="card-title" style="font-size:19px"><b>Lugar de residencia</b></span>
        <p>
          {% if student.calle %}
            Calle {{ student.calle }}
          {% endif %}
          {% if student.numero_exterior %}
            {{ student.numero_exterior }}
          {% endif %}
          {% if student.numero_interior %}
            {{ student.numero_interior }}
          {% endif %}
          {% if student.colonia %}
            Col. {{ student.colonia }}
          {% endif %}
          {% if student.codigo_postal %}
            C.P {{ student.codigo_postal }}
          {% endif %}
        </p>
      {% endif %}
      
      {% if student.nombre_ref_principal or student.celular_ref_principal or student.nombre_ref_auxiliar or student.celular_ref_auxiliar %}
        <span class="card-title" style="font-size:19px"><b>Referencias personales</b></span>
        <ul>
          {% if student.nombre_ref_principal or student.celular_ref_principal %}
            <li>
              {% if student.nombre_ref_principal %}
                {{ student.nombre_ref_principal }}
              {% endif %}
              {% if student.celular_ref_principal %}
                {{ student.celular_ref_principal }}
              {% endif %}
            </li>
          {% endif %}
          {% if student.nombre_ref_auxiliar or student.celular_ref_auxiliar %}
            <li>
              {% if student.nombre_ref_auxiliar %}
                {{ student.nombre_ref_auxiliar }}
              {% endif %}
              {% if student.celular_ref_auxiliar %}
                {{ student.celular_ref_auxiliar }}
              {% endif %}
            </li>
          {% endif %}
        </ul>
      {% endif %}
      
      <br>
      {% if  job_during_school %}
        {%if job_during_school.confirmacion_empleo == 1%}
          <span class="card-title" style="font-size:19px"><b>Trabajo durante estudios</b></span>
          <p><b>Coincidencia del trabajo con la carrera estudiada:</b> {{job_during_school.coincidencia_estudios_trabajo}} </p>
          
          <p><b>Horas laborales a la semana: </b> {{job_during_school.horas_laboradas_semanales}}</p>
        {% endif %}
      {% endif %}
      </div>
      
    
</div>
<br>
<br>
<div class="row">
    <div class="col-5">
        <a href="{% url 'admin_module:home'%}" class="btn btn-secondary">  Regresar </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



{% endblock %}