{% extends 'student_module/nav_bar_principal.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>

    <div class="row-2 col-center">
        <div class="col-6 my-5 img-principal center-middle col-display">
            <img alt="logo sistema seguimiento egresados" src="{% static 'assets/img/logo_sse.png' %}" width="360px" height="343px" >
        </div>
        <div class="col-6 my-5 center-middle form-block">
            <form method="POST" action="{% url 'admin_module:loginadmin'%}">
                <div class="titulo-principal subtitulo-principal" width="50">
                    Coordinación
                </div>
                <div class="titulo-principal" width="50">
                    Seguimiento de Egresados
                </div>
                <div class="subtitulo-principal" width="50">
                    
                </div>
                <br>
                <div class="form-login form-group row-form">
                    <div class="col">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <div>
                            <a href="{% url 'student_module:password_reset'%}">¿Olvidaste tu contraseña?</a>
                        </div>
                        <br>
                        <button class="btn submit-button btn-block" type="submit" name="guardar">Iniciar sesión</button>
                        {% endbuttons %}
                        <div class="subtitulo-principal">
                            <a href="{% url 'student_module:login'%}">Iniciar sesión como alumno</a>
                        </div>
                        <div class="subtitulo-principal">
                            <a href="{% url 'student_module:privacy_notice'%}">Aviso de Privacidad</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  
{% endblock %}